/*@font-face {
font-family: "SpaceGrotesk";
src: url("/font/space-grotesk/fonts/variable/SpaceGroteskVariable.ttf");
src: url("/font/space-grotesk/fonts/webfont/SpaceGrotesk-SemiBold.woff") format("woff"),
url("/font/space-grotesk/fonts/variable/SpaceGroteskVariable.ttf") format("opentype"),
}*/

body {
    background-image: url(/images/bg_stripe.png);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: "Space Text";
    color: #102c3a;
}
.e-container {
    margin-top: 40px;
    margin-bottom: 40px;
    background: white;
    border: 2px solid #DDD;
    box-shadow: 0 0 20px 0px;
}
.header {
    width: 100%;
    margin-bottom: 2%;
}
a {
    color: #2b7093;
}
nav {
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    font-weight: 800;
}
nav.navbar-light .nav-item a.nav-link  {
    color: #102c3a;
}
footer {
    background: #191919;
    color: #666;
}
#colophon{
    padding: 20px;
    width: 100%;
}
#site-info a {
    color: #999999;
    text-decoration: none;
}
#site-info {
/*    font-family: georgia;*/
    font-size: 18px;
    font-weight: normal;
/* letter-spacing: 7px; */
    padding-bottom: 10px;
    width: 100%;
}
#streetaddress {
    display: block;
    float: left;
    width: 250px;
}
.some {
    float: right;
}
.checkbox div[class^="icheckbox"], .checkbox-inline div[class^="icheckbox"], .radio div[class^="iradio"], .radio-inline div[class^="iradio"] {
    position: relative;
    margin-top: 4px \9;
    margin-right: 5px;
    margin-top: -3px;
}
.checkbox label, .radio label {
    font-weight: 700;
    margin-left: -20px;
}
@media print {
   .icheckbox_square-blue, .iradio_square-blue { background: #fff !important; border: 1px solid #000 !important; }
   .no-print, .no-print * { display: none; }
}
body .sonata-page-top-bar {
    position: fixed;
    width: auto;
    top: 40%;
    opacity: 0.8;
    z-index: 300;
    background: #1a1a1a;
}

