@import "~bootstrap/scss/functions";

$primary: #2b7093;
$secondary: #6c757d;
$success: #28a745;
$danger: #ff4136;
$warning: #ffc107;
$dark: #343a40;
$info: #17a2b8;
$enable-responsive-font-sizes: true;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "dark": $dark,
  "info": $info
);

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/list-group";
// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

.navbar-nav .current, .navbar-nav .current_ancestor.dropdown .nav-link {
    text-decoration: underline;
}
.navbar-nav .current_ancestor.dropdown .dropdown-menu .nav-link {
    text-decoration: none;
}
.linetext {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 20px auto;
    span {
        background: #fff;
        padding: 0 10px;
        font-size: 1.4rem;
    }
}
.video-fluid{
    position: relative;
    padding-bottom: 56.25%;
    height:0
}
.video-fluid object, .video-fluid embed {
      position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#masonry {
   line-height: 22px;
   -webkit-column-count: 3;
   -webkit-column-gap:   5px;
   -moz-column-count:    3;
   -moz-column-gap:      5px;
   column-count:         3;
   column-gap:           5px;
}
@media (max-width: 1400px) {
  #masonry {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1200px) {
  #masonry {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #masonry {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 500px) {
  #masonry {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	border-top-color: rgb(210, 214, 222);
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	.box-header {
		color: #444;
		display: block;
		padding: 10px;
		position: relative;
	}
	.box-body {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		padding: 10px;
        overflow: hidden;
	}
}
@include media-breakpoint-down(lg) {
   .e-container {
       border: 0px solid #fff;
   }
}
@include media-breakpoint-up(lg) {
   .e-container {
       border: 2px solid #DDD;
   }
}
blockquote {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 3px solid #ccc;
}

nav a.hilight {
    animation: 8s fontmorph infinite;
    :after {
        content: 'Live';
    }
}
nav a.hilight:after {
    content: 'Live';
    font-variant: super;
}
