body.dark {
    background: #000000 url(../images/bg_stripe_black.png) repeat !important;
    color: #ddedf6;
    .navbar-brand img, .header-img img {
        filter: invert(1);
    }
    .e-container {
        background: #000;
        .box {
            color: #ddedf6;
            background: transparent;
            box-shadow: 0 1px 1px rgba(166,166,166,0.8);
            .box-header {
                color: #ddedf6;
            }
        }
        .linetext {
            border-bottom: 1px solid #fff;
            span {
                background: #000;
            }
        }
        table {
            filter: invert(0.8);
        }
    }
    .invert {
        filter: invert(0.8);
    }
}
