{# do not allow update anymore #}
{% if object.sentAt is null %}
<a class="btn btn-sm btn-default"
   href="{{ admin.generateObjectUrl('send', object) }}">
        <i class="fa fa-telegram"></i> {{ 'Send'|trans({}, 'SonataAdminBundle') }}
    {#
    {% else %}
        <i class="fa fa-telegram"></i> {{ 'Update'|trans({}, 'SonataAdminBundle') }}
    #}
</a>
{% endif %}
