<a class="btn btn-sm btn-default"
   href="{{ admin.generateObjectUrl('send', <class 'object'>) }}">
    {% if object.sentAt is null %}
        <i class="fa fa-telegram"></i> {{ 'Send'|trans({}, 'SonataAdminBundle') }}
    {% else %}
        <i class="fa fa-telegram"></i> {{ 'Update'|trans({}, 'SonataAdminBundle') }}
    {% endif %}
</a>
