{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ event }}</h1>
            </div>
            <div class="col-md-12">
            {% if rsvps %}
            <h3>Ilmoittautuneiden mailit ({{ rsvps|length }})</h3>
            {% apply spaceless %}
            <p class="mails" style="display: none;">
                {% for rsvp in rsvps %}
                    {% if rsvp.member %}
                    {{rsvp.member.email }};
                    {% else %}
                    {{rsvp.email}};
                    {% endif %}
                {% endfor %}
                {% endif %}
            </p>
            {% endapply %}
            <button class="btn btn-primary" onClick="copyToClipBoard()">Copy to clipboard</button>
            </div>
        </div>
    </div>
    <script>
    function copyToClipBoard(){
        navigator.clipboard.writeText($('.mails').text());
    }
    </script>
    
{% endblock %}
