#masonry {
   line-height: 22px;
   -webkit-column-count: 3;
   -webkit-column-gap:   5px;
   -moz-column-count:    3;
   -moz-column-gap:      5px;
   column-count:         3;
   column-gap:           5px;
}
@media (max-width: 1400px) {
  #masonry {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1200px) {
  #masonry {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #masonry {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 500px) {
  #masonry {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.nakki-slot-list .nakki-slot {
  display: block;
}

.nakki-slot-list .nakki-slot--empty {
  min-height: 1.25rem;
}

.nakki-slot-list .nakki-slot.border-bottom {
  border-bottom: 1px solid #ddd !important;
}
