html {
  height: 100%;
}
body {
  background-image: url(../images/bg_stripe_transparent.png);
  background-color: white;
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  font-family: "Space Grotesk Variable";
  color: #102c3a;
  letter-spacing: -0.1px;
}
body .effect_canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
h1 {
  text-transform: uppercase;
}
.e-container {
  margin-top: 40px;
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 0 20px 0px;
  position: relative;
}
nav {
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  font-weight: 800;
}
nav.navbar-light .nav-item a.nav-link {
  color: #102c3a;
}
footer {
  background: #191919;
  color: #a6a6a6;
}
footer .e-text {
  color: #fff;
}
footer a {
  color: #65aed2;
}
.checkbox div[class^="icheckbox"],
.checkbox-inline div[class^="icheckbox"],
.radio div[class^="iradio"],
.radio-inline div[class^="iradio"] {
  position: relative;
  margin-top: 4px \9;
  margin-right: 5px;
  margin-top: -3px;
}
@media print {
  .icheckbox_square-blue,
  .iradio_square-blue {
    background: #fff !important;
    border: 1px solid #000 !important;
  }
  .no-print,
  .no-print * {
    display: none;
  }
}
.qr-code svg {
  max-width: 100%;
}
.qr-result {
  background: white;
  position: relative;
  top: 0px;
  transition: top 1s ease 0s;
}
