{% extends 'twocolumn.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% block content %}
    {% set name_attr = 'name_attribute'|trans %}
    {% set content_attr = 'content_attribute'|trans %}
    {% for event in events %}
        {% if app.user %}
            {% set visible = true %}
        {% else %}
        {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
        {% endif %}
        {% if event is not null and visible %}
        <div class="row">
            <div class="col-1">
                <h2>
                {% if event.type == 'announcement' %}
                    <i class="fas fa-bullhorn"></i>
                    <hr>
                    <a href="{% if app.request.locale == 'en' %}/en{%endif%}/{{'announcements_url'|trans}}">
                        <i class="fas fa-history"></i>
                    </a>
                {% else %}
                    {% if event.cancelled %}
                    <i class="far fa-calendar-times"></i>
                    {% else %}
                    <i class="far fa-calendar"></i>
                    {% endif %}
                {% endif %}
                </h2>
            </div>
            <div class="post col-11">
                {{ block('event') }}
            <hr>
            </div>
        </div>
        {% endif %}    
    {% endfor %}
{% endblock %}

