{% use 'menu/menu.html.twig' %}
<header class="row" id="header" data-turbo-permanent>
<div class="g-0 mb-4">
    {{ sonata_page_render_container('header', 'global') }}
    {{ block('menu') }}
</div>
</header>
