{% use 'menu/menu.html.twig' %}
<header class="row" id="header" data-turbo-frame="nav">
    <div class="g-0 mb-4">
        <div class="header-img text-center d-none d-lg-block">
            <a href="/{% if app.request.locale == 'en' %}en{% endif %}">
                <img style="max-height: 20vh" src="{{ asset('/images/header-logo-text.svg') }}" width="50%" height="auto" z-index="0" alt="ENTROPY">
            </a>
            {% if (event is defined and event.theme == 'dynamic') or event is not defined %}
                <twig:ThemeSwitcher />
            {% endif %}
        </div>
        {{ block('menu') }}
    </div>
</header>
