{% extends 'base_layout.html.twig' %}
{% block sonata_page_container %}
    <div class="container e-container">
        <div class="content row">
            {% include 'header.html.twig' %}
            {% include 'flashmessages.html.twig' %}
            {% block page_content %}
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% endif %}
                    {% if page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}
            {% endblock %}
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}
