{% extends 'base_layout.html.twig' %}
{% block sonata_page_container %}
    <div class="container e-container">
        {% include 'header.html.twig' %}
        <div class="row mx-md-1">
            {% include 'flashmessages.html.twig' %}
            <div class="col-12 col-xxl-8 mx-auto">
            {% block page_content %}
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% if page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% endif %}
                    {% if page is defined %}
                        {{ sonata_page_render_container('acontent', page) }}
                    {% endif %}
                {% endif %}
            {% endblock %}
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </div>
{% endblock %}
