/web/bundles/
/web/css/
/web/images/
/web/js/
/vendor/
/bin/*
/build/
!bin/console
/phpunit.xml


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
