/web/bundles/
/web/uploads/
/build/
/vendor/
/bin/*
/build/
!bin/console
!bin/symfony_requirements
/phpunit.xml


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
