/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/app/config/parameters.yml
/build/
/vendor/
/bin/*
/build/
/vendor/
/web/bundles/
/var/*
!var/cache
/var/cache/*
!var/cache/.gitkeep
!var/logs
/var/logs/*
!var/logs/.gitkeep
!var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!bin/console
!bin/symfony_requirements
/phpunit.xml

