{% if object.owner %}
    <a class="btn btn-sm btn-default edit_link"
       href="{{ admin.generateObjectUrl('give', object) }}"><i class="fa fa-ticket" aria-hidden="true"></i> Give Ticket</a>
{% endif %}
