{% extends sonata_block.templates.block_base %}
{% block block %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Broken Items</h3>
    </div>
    <div class="box-body">
    {% for item in broken %}
        <div class="box box-solid collapsed-box">
            <div class="box-header">
                <a href="{{ path('admin_entropy_tunkki_item_show', {'id':item.id}) }}">{{ item.name }}</a>
                <div class="box-tools pull-right">
                    <a class="btn btn-default btn-sm" href="{{ path('admin_entropy_tunkki_item_edit', {'id':item.id}) }}">
                        <i class="fa fa-pencil-square-o"></i> edit
                    </a>
                    {% if item.fixingHistory is not empty %}
                    <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-plus"></i> Show Comments</button>
					{% endif %}
                </div>
            </div>
            <div style="display: none;" class="box-body">
                <div class="row">
					<div class="col-md-12">
                    {% if item.fixingHistory is not empty %}
						{{ item.getFixingHistoryMessages(5, 'html')|raw }}
                    {% endif %}
					</div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>        
{% endblock %}
