{% extends 'fullcolumn.html.twig' %}
{% block title %}{{ 'entropy_user_dashboard'|trans }} | Entropy ry{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% if member.isActiveMember %}
                {% if barcode is defined %}
                    <div class="{% if member.theme == 'dark' %}bg-white{% endif %}">
                        <div class="mx-auto barcode" style="width:246px;">
                            {{ barcode.1|raw }}
                            <p class="text-center">Code: {{ barcode.0 }}</p>
                        </div>
                    </div>
                {% endif %}
                <twig:DoorInfo :member="member" />
            {% endif %}
            {{ sonata_block_render({type: 'entropy.block.future_events'}, {box: true}) }}
            <twig:RandomArtist />
            <twig:ArtistList :box="true" />
        </div>
        <div class="col-md-6">
            <twig:Statistics />
            <twig:BookingsInProgress :box="true" />
            <twig:BrokenItems :random="true" />
        </div>
    </div>
{% endblock %}
