{% extends 'onecolumn.html.twig' %}
{% block content %}
    <h1>You do not have permission to this page: Error 403</h1>
    <p>
        The requested page couldn't be figured out. Maybe <a href="/">return to the homepage</a>.
    </p>
    <p>If you report this problem: Do not send a picture of this webpage! instead report:</p>
    <ul>
        <li>Error: 503</li>
        <li>What were you doing</li>
        <li>Your current url in full</li>
    </ul>
{% endblock %}
