{% extends 'onecolumn.html.twig' %}
{% block content %}
    <h1>Something does not add up: Error 500</h1>
    <p>
        The requested page couldn't be figured out. Maybe <a href="/">return to the homepage</a>.
    </p>
{% endblock %}
