{% extends 'onecolumn.html.twig' %}
{% block content %}
    <h1>{{ 'error.internal.title'|trans }}</h1>
    <p>
        {{ 'error.internal.description'|trans }} <a href="/">{{ 'error.return_home'|trans }}</a>.
    </p>
{% endblock %}
