{% extends sonata_block.templates.block_base %}
{% block block %}
    {% set visible = settings.show %}
    {% if not settings.show and app.user %}
        {% set visible = true %}
    {% endif %}
    {% if visible %}
        <h5>{{ settings.title }}</h5>
        <ul class="fa-ul">
        {% for link in settings.urls %}
        <li> 
            {% if link.icon %}<span class="fa-li"><i class="{{link.icon }}"></i></span>
            {% else %}<span class="fa-li"><i class="fas fa-link"></i></span>
            {% endif %}
            <a target="_blank" href="{{ link.url }}"> {{ link.title }}</a>
        </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
