{% extends sonata_block.templates.block_base %}
{% block block %}
    {% set show = true %}
    {% if settings.show == 'in' %}
        {% if not app.user %}
            {% set show = false %}
        {% endif %}
    {% elseif settings.show == 'out' %}
        {% if app.user %}
            {% set show = false %}
        {% endif %}
    {% endif %}
    {% if show %}
        <h5>{{ settings.title }}</h5>
        <ul class="fa-ul">
        {% for link in settings.urls %}
        <li> 
            {% if link.icon %}<span class="fa-li"><i class="{{link.icon }}"></i></span>
            {% else %}<span class="fa-li"><i class="fas fa-link"></i></span>
            {% endif %}
            <a target="_blank" href="{{ link.url }}"> {{ link.title }}</a>
        </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
