{% extends sonata_block.templates.block_base %}
{% block block %}
    {% set show = true %}
    {% if settings.show == 'in' %}
        {% if not app.user %}
            {% set show = false %}
        {% endif %}
    {% elseif settings.show == 'out' %}
        {% if app.user %}
            {% set show = false %}
        {% endif %}
    {% endif %}
    {% if show %}
        <div class="linklist col">
            <h5 class="text-center text-sm-start">{{ settings.title }}</h5>
            <ul class="fa-ul">
                {% for link in settings.urls %}
                    <li>
                        {% if link.icon %}
                            <span class="fa-li"><twig:ux:icon name="{{ link.icon }}" /></span>
                        {% else %}
                            {% if 'http' not in link.url and app.request.attributes.get('path') in link.url %}
                                <span class="fa-li"><twig:ux:icon name="arrow-right" /></span>
                            {% else %}
                                <span class="fa-li"><twig:ux:icon name="link" /></span>
                            {% endif %}
                        {% endif %}
                        <a {% if link.openInNewWindow|default(false) %}target="_blank"{% endif %}
                           href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
