{% extends sonata_block.templates.block_base %}
{% block block %}
{% if tickets|length > 0 %}
    <div class="box">
        <div class="box-header">
            <h5>{{ 'block.tickets.name'|trans }}</h5>
        </div>
        <div class="box-body">
            <div class="row">
            {% for ticket in tickets %}
            <a href="{{ path('entropy_event_ticket', {
            'year': ticket.event.eventDate|date('Y'),
            'slug': ticket.event.url,
            'reference': ticket
            }) }}" class="col-10 mx-auto mb-2 btn btn-primary">{{ ticket.event.name(app.request.locale) }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
