<nav class="navbar navbar-expand-lg navbar-light">
<a class="navbar-brand d-lg-none" href="/">
    <img src="https://entropy.fi/logo/entropy-logo_update.svg" width="35" height="45" class="d-inline-block" alt="Entropy">ntropy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/">{{'frontpage'|trans}}</a></li>
        <li class="nav-item"><a class="nav-link" href="https://entropy.fi/liity/">LIITY</a></li>
        <li class="nav-item"><a class="nav-link" href="https://entropy.fi/tapahtumat/">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="https://entropy.fi/vuokraus/">VUOKRAUS</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ARKISTO
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://entropy.fi/arkisto/artistit/">Artistit</a>
                <a class="dropdown-item" href="https://entropy.fi/arkisto/tapahtumat/">Tapahtumat</a>
                <a class="dropdown-item" href="https://entropy.fi/arkisto/audio/">Audio</a>
                <a class="dropdown-item" href="https://epics.entropy.fi/">Kuvat</a>
                <a class="dropdown-item" href="https://entropy.fi/arkisto/videot/">Videot</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MEISTÄ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://entropy.fi/yhdistys/">Yhdistys</a>
                <a class="dropdown-item" href="https://entropy.fi/yhdistys/historiaa/">Historiaa</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="https://entropy.fi/yhteystiedot/">YHTEYSTIEDOT</a></li>
    </ul>
    <button class="btn btn-primary">{{"join_us"|trans }}!</button>
  </div>
</nav>
