@include color-mode(dark) {
  body {
    background-image: url("../../images/bg_stripe_black.png");
    background-color: black;
    color: #ddedf6;
    .navbar-brand img,
    .header-img img {
      filter: invert(1);
    }
  }
  .e-container {
    background: #000;
    .box {
      color: #ddedf6;
      background: transparent;
      box-shadow: 0 1px 1px rgba(166, 166, 166, 0.8);
      .box-header {
        color: #ddedf6;
      }
    }
    .tile {
      box-shadow: 0px 1px 10px 0px rgba(255, 255, 255, 0.25);
    }
    .linetext {
      border-bottom: 1px solid #fff;
      span {
        background: #000;
      }
    }
    table {
      filter: invert(0.8);
    }
    footer {
      color: #888;
      a {
        color: #64aec1;
      }
      a:hover {
        color: #8cc3d1;
      }
    }
    .stream-img {
      filter: invert(0.8);
    }
  }
}

.invert {
  filter: invert(0.8);
}
