league_oauth2_server:
#trikoder_oauth2:
    authorization_server:
        private_key: /var/www/symfony/config/secrets/oauth/private.key # Change this
        private_key_passphrase: null # Passphrase of the private key, if any
        encryption_key: '%env(string:OAUTH2_ENCRYPTION_KEY)%' # (Optional) Change this

    resource_server:
        public_key: /var/www/symfony/config/secrets/oauth/public.key # Change this
    scopes: 
        available: [wiki, forum]
        default: [wiki, forum]
    persistence:
        doctrine: null

when@test:
    league_oauth2_server:
        authorization_server:
            private_key: '%kernel.project_dir%/config/secrets/test/oauth/private.key'
            private_key_passphrase: null
            encryption_key: 'test_encryption_key_minimum_32_chars'
        resource_server:
            public_key: '%kernel.project_dir%/config/secrets/test/oauth/public.key'
