{% extends event.template %}
{% block content %}
    {% set input = template_from_string(event.contentForTwig(app.request.locale)) %}
    <div class="content">
        {{ block('content_info', input) ?? '' }}
    </div>
{% endblock %}
