{% extends event.template %}
{% use 'pieces/event.html.twig' %}
{% block content %}
{% set input = template_from_string(event.contentForTwig(app.request.locale)) %}
{{ block('content_shop_complete', input) ?? '' }}
{% for qr in qrs %}
<h1>{{ 'ticket.ticket'|tras }} #{{ loop.index }}</h1>
<div class="qr-code text-center">
<img style="max-width:100%" src="data:image/png;base64, {{ qr }}">
</div>
{% endfor %}
{% endblock %}
