{% extends event.template %}
{% block title %}
{% set title = event.NameByLang(app.request.locale) ~ ' - ' ~ event.EventDate|date('d.m.Y, H:i') %}
{{ title }} - {{ 'Timetable'|trans }} | Entropy ry
{% endblock %}
{% block content %}
{% set input = template_from_string(event.contentForTwig(app.request.locale)) %}
<div class="content">
{{ block('content_timetable', input) ?? '' }}
{% set frontpage = false %}
{{ block('timetable_to_page') }}
</div>
{% endblock %}
