body {
    background-image: url(/images/bg_stripe.png);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;

}
.container {
    margin-top: 40px;
    margin-bottom: 40px;
    background: white;
    border: 2px solid #DDD;
    box-shadow: 0 0 20px 0px;
}

.checkbox div[class^="icheckbox"], .checkbox-inline div[class^="icheckbox"], .radio div[class^="iradio"], .radio-inline div[class^="iradio"] {
    position: relative;
    margin-top: 4px \9;
    margin-right: 5px;
    margin-top: -3px;
}
.checkbox label, .radio label {
    font-weight: 700;
    margin-left: -20px;
}
@media print {
   .icheckbox_square-blue, .iradio_square-blue { background: #fff !important; border: 1px solid #000 !important; }
   .no-print, .no-print * { display: none; }
}
body .sonata-page-top-bar {
    position: fixed;
    width: auto;
    top: 40%;
    opacity: 0.8;
    z-index: 300;
    background: #1a1a1a;
}

