{% block ticket %}
{% if event.ticketsEnabled and not event.ticketPresaleEnabled and app.user %}
<div class="pt-2 pb-2" id="ticket">
    {# <p>{{'ticket.info'|trans|raw}}</p> #}
    <div class="col-md-6 mx-auto">
        <a class="btn btn-primary w-100"
            href="{{ path('entropy_event_ticket',{
                   'slug': event.url, 
                   'year': event.eventdate|date('Y'),
                   'reference': ticket.referenceNumber
            })  }}"
            >{{'Your Ticket'|trans}}</a>
    </div>
</div>
{% endif %}
{% endblock %}
