{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block logo %}
{% apply spaceless %}
    <a class="logo w-100" href="{{ path('dashboard.' ~ app.request.locale|default('fi')) }}">
        <img src="{{ asset(sonata_config.logo) }}" alt="{{ sonata_config.title }}" width="100%" style="max-width:100%;">
    </a>
{% endapply %}
{% endblock %}

