{% extends 'twocolumn.html.twig' %}
{% use 'member/modal.html.twig' %}
{% block content %}
{% if state == 'update' %}
<div>Jos haluat päivittää jäsenrekisteritietosi niin ota yhteyttä hallitukseen / To update your member info send email to the board: 
    <button class="btn btn-info">
        {% apply spaceless %}
        {% set url = 'mailto:hallitus@entropy.fi?subject=Jäsentietojeni%20muuttaminen&body=Olen%20'~ form.vars.data.firstname ~'%20'~ form.vars.data.lastname ~(' ja haluan vaihtaa tietoni jäsenrekisterissä seuraaviksi\n\nnimi:\nemail:\nphone:\ncity of residence:\nstudent union member:\n')|url_encode%}
        <a href="{{ url }}">
            hallitus@entropy.fi
        </a>
        {% endapply %}
    </button>
</div>
{% elseif state == 'added' %}
<div>Tietosi on nyt tallennettu jäsenrekisteriimme. Saat vielä asiasta sähköpostin! / Your information is now saved in our member registry. You'll get an email about it!</div>
{% elseif state == 'no' %}
<div>Sinuun pitää olla ensin jäsen ennenkuin voit hakea aktiivijäsenyyttä / You have to be member first to apply for active membership</div>
{% endif %}
{{ block('modal')}}
{% endblock %}
