{% extends sonata_block.templates.block_base %}
{% block block%}
<button class="btn btn-primary"
    role="button"
    data-bs-toggle="modal"
    data-bs-target="#MemberModal">{{ 'join_us'|trans|capitalize }}
</button>
{% endblock %}
