{% extends sonata_block.templates.block_base %}
{% block block %}
    <a href="{{ path("profile_new") }}" class="btn btn-primary">{{ 'join_us.button'|trans|capitalize }}</a>
    <a data-turbo="false"
       class="btn btn-primary"
       href="https://entropy.fi/mm">{{ 'join_us.mattermost'|trans }}</a>
{% endblock %}
