{% extends sonata_block.templates.block_base %}
{% block block%}
<a href="{{ path('entropy_profile_join') }}" class="btn btn-primary">{{ 'join_us'|trans|capitalize }}</a>
{# <button class="btn btn-primary"
    role="button"
    data-toggle="modal"
    data-target="#MemberModal">{{ 'join_us'|trans|capitalize }}
</button> #}
{% endblock %}
