{% if object.status == 'paid' %}
    <a class="btn btn-sm btn-default edit_link"
       href="{{ admin.generateObjectUrl('addBus', object) }}"><i class="fa fa-money" aria-hidden="true"></i> Add Bus</a>
{% endif %}
