{% if object.BookingDate is defined %}
    <a class="btn btn-sm btn-default edit_link"
       href="{{ path('admin_entropy_admin_booking_admin_entropy_admin_statusevent_create', {id: object.id}) }}"><i class="fa fa-cog" aria-hidden="true"></i> Status</a>
{% endif %}
