{% set en_slug = object.purpose %}
{% set fi_slug = object.purpose %}
{% set slug_map = constant('SLUGS_FI', object) %}
{% if slug_map is iterable %}
    {% for key, value in constant('PURPOSES', object) %}
        {% if value == object.purpose and slug_map[key] is defined %}
            {% set fi_slug = slug_map[key] %}
        {% endif %}
    {% endfor %}
{% endif %}
<a class="btn btn-sm btn-default"
   href="{{ path('contract_show', {purpose: fi_slug, _locale: 'fi'}) }}"
   target="_blank"
   rel="noopener noreferrer">
    <i class="fa fa-external-link"></i>
    FI
</a>
<a class="btn btn-sm btn-default"
   href="{{ path('contract_show', {purpose: en_slug, _locale: 'en'}) }}"
   target="_blank"
   rel="noopener noreferrer">
    <i class="fa fa-external-link"></i>
    EN
</a>
