{% if object.isActiveMember %}
    <a class="btn btn-sm btn-default edit_link"
       href="{{ admin.generateObjectUrl('activememberinfo', <class 'object'>) }}"><i class="fa fa-envelope" aria-hidden="true"></i> Send Active Member Info</a>
{% endif %}
