{% if object.status == 'reserved' %}
    <a class="btn btn-sm btn-default edit_link"
       href="{{ admin.generateObjectUrl('makePaid', object) }}"><i class="fa fa-money" aria-hidden="true"></i> Make Paid</a>
{% endif %}
