{% if object.renterConsent and object.BookingDate <= 'now'|date %}
<a class="btn btn-sm btn-warning edit_link" href="{{ admin.generateObjectUrl('removeSignature', object) }}"><i class="fa fa-remove" aria-hidden="true"></i> Remove Signature</a>
{% endif %}
