<div {{ attributes.defaults({class: 'theme-switcher'}) }}>
    <button
        class="btn position-absolute top-0 end-0"
        aria-label="{{ 'button.theme-switcher'|trans }}"
        type="button"
        {{ live_action('toggleTheme') }}
    >
        <twig:ux:icon name="dark-theme" height="2em"/>
    </button>
    <script>
        if (!window._themeSwitcherInit) {
            window._themeSwitcherInit = true;
            document.addEventListener('theme:changed', function(event) {
                document.documentElement.setAttribute('data-bs-theme', event.detail.theme);
            });
        }
    </script>
</div>
